
  <div class="container ">
        <div class="m-10 col-md-12">
          <label class="example-margin col-md-2 mt-3">Ordenar por: </label>
          <mat-radio-group [(ngModel)]="orden">
            <mat-radio-button class="example-margin col-12 col-md-2 m-3" value="price">
              Precio 
            </mat-radio-button>
            <mat-radio-button class="example-margin col-12 col-md-2 m-3" value="available">
              Disponibilidad 
            </mat-radio-button>
            <mat-radio-button class="example-margin col-md-2 m-3" value="quantity">
              Cantidad
            </mat-radio-button>
          </mat-radio-group>
        </div>
  </div>


<div  class="container card">
  <div class="row justify-content-center">
  <div *ngFor="let pro of (products|filtrador:orden ); let index=index" class="col-md-4 col-lg-3 m-3">

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>  {{pro.name | uppercase}}</mat-card-title>
          <mat-card-subtitle *ngIf="pro.available == true">
                    <h3><span class="badge badge-success">Disponible</span></h3>
          </mat-card-subtitle>
          <mat-card-subtitle *ngIf="pro.available == false">
              <h4><span class="badge badge-danger">No disponible</span></h4>
          </mat-card-subtitle>
        </mat-card-header>
          <img mat-card-image [src]="'https://picsum.photos/200/150/?random' + index">
        <mat-card-content>
          <h5>
           $ {{pro.price}}
          </h5>
          {{pro.quantity}} en Stock
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="addtoCart(pro)" *ngIf="pro.available"  >Agregar al carrito</button>
          <button mat-raised-button disabled *ngIf="pro.available==false">Agregar al carrito</button>
          <!-- <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>