<mat-accordion *ngFor="let cat of categories" >
  <mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title >
        <a href="#" class="btn active panel" mat-button color="primary" [routerLink]="['/productos' , cat.id]" (click)="productId(cat.id)">
          {{cat.name}}
        </a>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="expansion-panel">

      <app-sublevel-a [sublevels]="cat.sublevels"></app-sublevel-a>
    </div>
  </mat-expansion-panel>
</mat-accordion>
