<mat-toolbar color="primary" >
         <button mat-button class="col-1" (click)="sidenav.toggle()">
           <i class="material-icons">reorder</i> 
          </button>
          <div class="container">
            <div class="row">
                <h1 class=" ml-10 col-2 ">El Baratón</h1>
              </div> 
          </div>
</mat-toolbar>  


<mat-sidenav-container class="sidenav-container ">
  <mat-sidenav #sidenav class="sidenav">
      <!-- content of sidenav -->
      <app-sidenav-content></app-sidenav-content>
  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>